:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f3f3f3;
  background-color: var(--primary-color);
  /* height: 100vh; */
  /* overflow: hidden; */
}

.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
}

.search {
  color: #f3f3f3;
  font-size: 1.6rem;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-family: inherit;
  background-color: transparent;
  border: 2px solid var(--primary-color);
}

.search::placeholder {
  color: #f3f3f3;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  width: 30rem;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.movie img {
  width: 100%;
}

.movie-info {
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: #ffffff;
  padding: 2rem;
  color: #333;
  max-height: 100%;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  transform: translateY(99%);
  transition: all 0.5s ease-out;
  opacity: 0.1;
}
.movie:hover .overview {
  opacity: 1;
  transform: translateY(0);
}
